// Font styles.

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700');
@import url('http://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/Lato/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_italic';
    src: url('../fonts/Lato/lato-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic !important;
}

@font-face {
    font-family: 'latolight_italic';
    src: url('../fonts/Lato/lato-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/Lato/lato-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/Lato/lato-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/Lato/lato-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'latohairline';
    src: url('../fonts/Lato/lato-hairline-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latohairline_italic';
    src: url('../fonts/Lato/lato-hairlineitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}