@tailwind base;
@tailwind components;

.heading {
    @apply font-bold text-4xl; /* a heading with bold font and 2.25rem font size */
}

@tailwind utilities;

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes sectionDivFadeIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromBottom 1.3s ease-out forwards;
  opacity: 0;
}

section > div {
  opacity: 0;
}

.fade-in-visible {
  animation: sectionDivFadeIn 0.3s ease-out forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}

@layer base {
    .js-main-wrapper a {
        @apply text-theme-comp-dark hover:text-theme-color visited:text-theme-comp-dark;
    }
}

@layer utility {
    body {
        @apply text-base;
    }

    p {
        /* @apply text-base; */
    }

    h1 {
        @apply text-xl;
    }

    .js-outer {
        margin: 0;
        padding: 0;
    }

    .logo-type {
        position: relative;
        font-size: 3rem;
        top: calc(3rem * .44);
    }

    .section {
        padding: 0 1rem;
    }

    @screen sm { /* applying font size for lg breakpoint */
        .logo-type {
            font-size: 4rem;
            top: calc(4rem * .44);
        }
    }

    @screen md { /* applying font size for lg breakpoint */
        .logo-type {
            font-size: 4rem;
            top: calc(4rem * .44);
        }
    }

    @screen lg { /* applying font size for lg breakpoint */
        .logo-type {
            font-size: 6rem;
            top: calc(6rem * .42);
        }
    }

    @screen xl { /* applying font size for lg breakpoint */
        .logo-type {
            font-size: 8rem;
            top: calc(8rem * .42);
        }
    }

    @screen 2xl { /* applying font size for lg breakpoint */
        .logo-type {
            font-size: 10rem;
            top: calc(10rem * .42);
        }
    }

}
